version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.7.5
    steps:
    - checkout
    - run:
        name: Dependencies
        command: |
          git clone --depth 1 -b v1.2.15 https://github.com/pyenv/pyenv.git $HOME/.pyenv
          $HOME/.pyenv/bin/pyenv install 2.7.16
          $HOME/.pyenv/bin/pyenv install 3.5.8
          $HOME/.pyenv/bin/pyenv install 3.7.5
          pip3 install --user tox flake8
          make deps
    - run:
        name: make all
        command: |
          make all
    - store_test_results:
        path: test-results
    - store_artifacts:
        path: test-results
