name: Run tests

on: [push, pull_request]

jobs:
  build-n-publish:
    name: Run tests - Python ${{ matrix.python }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4.7.0
      with:
        python-version: ${{ matrix.python }}
    - name: Run tests
      run: |
        pip3 install tox flake8
        make deps
        make all
